.autoslide {
   color: white;
   background-color:rgb(21, 20, 20);
   display: flex;
   align-items: center;
   padding: 20px 10px;
   
}
.autoslide h3{
   margin-left: 200px;
}

.autoslideReverse{
   background-color: #FF9776 ;
   display: flex;
   align-items: center;
   padding: 20px 10px;

}
.autoslideReverse h3{
   margin-left: 200px;
}
